.gradle/
.yardoc/
*.class
*.pyc
__pycache__/
bin/
blib/
build/
dist/
doc/
Makefile
Minecraft-ServerStatus-*.tar.gz
minestat.egg-info/
MYMETA.json
MYMETA.yml
obj/
pm_to_blib
target/
tests/

# Ignore Python virtual environments
venv/

# Ignore all compiled C# files
*.exe
*.dll

# Visual Studio files
.vs/
**/bin/Debug/
**/bin/Release/
