version: 1.0.0.{build}
image: Visual Studio 2019
configuration: Debug
before_build:
  - nuget restore CSharp\MineStat.sln
build:
  verbosity: minimal
notifications:
  - provider: GitHubPullRequest
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true
